* {
    padding: 0;
    margin: 0;
}

.drapFile {
    background: hotpink;
    text-align: center;
    line-height: 300px;
    margin: 20px;
    width: 400px;
    height: 300px;
}

.fileShow {
    border-style: dashed;
    margin: 20px;
    width: 400px;
    height: 300px;
}